<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to my bike shop</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Welcome to my bike shop</h1>
        <p>
          <a class="btn" href="{{ url_for('home')}}">Home</a>
          <a class="btn" href="{{ url_for('read')}}">Display inventory</a>
          <a class="btn" href="{{ url_for('create')}}">Put into storage</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          The source code for this example app is
          <a href="https://github.com/dbdesign-students-spring2024/7-web-app-danielwby"
            >available on Github</a
          >.
        </p>
        <img src="{{ url_for('static', filename='css/pic1.png') }}" alt="Bike Shop">
      </footer>
    </div>
  </body>
</html>
