{% extends 'base.html' %} {% block container %}
<h2>Add</h2>
<p>Please add new bike information:</p>
<form method="POST" action="{{ url_for('create_post') }}">
  <p>Employee number:  <input type="text" id="fname" name="fname" /><br /></p>
  <p>
    Bicycle information (e.g. Giant-001):
    <textarea type="text" id="fmessage" name="fmessage"></textarea>
  </p>
  <p>
    <a class = "btn" href="{{ url_for('read')}}">Cancel</a>
    <input class = "btn" type="submit" name="post-btn" value="Post" />
  </p>
</form>
{% endblock %}
