{% extends 'base.html' %}

{% block container %}
<h2>Welcome!</h2>
<p>Please note that this system is mainly a bicycle inventory management system, which can let the warehouse staff know the current inventory of vehicles and maintain vehicle information to the warehouse.
    <ul>
        <li><a href="{{ url_for('read')}}">This page mainly displays the vehicle information in the current warehouse</a></li>
        <li><a href="{{ url_for('create')}}">This page allows administrators to add vehicle information to the warehouse</a></li>
    </ul>
</p>
{% endblock %}